<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mars Facts!</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Find Martian News!</a></p>
    </div>

    <!-- Craigslist Listings -->
    <div class="row" id="craiglist-listings">
      <div class="col-md-8">
        <h4 class="heading">{{listings.news}}</h4>
        <p>{{listings.teasers}}</p>
        <hr class="my-2">
        <h4 class="heading">Featured Image</h4>
        <img src="{{ listings.final_img_url }}" alt="Featured Image">
      </div>
      <div class="col-md-4">
        <h4 class ="heading">Mars Facts!</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Category</th>
              <th>Data</th>
            </tr>
          </thead>
          <tbody>
            {% for key, value in listings.facts_table.items() %}
             <tr>
                  <th> {{ key }} </th>
                  <td> {{ value }} </td>
             </tr>
            {% endfor %}
            </tbody>
          </table>
      </div>
    </div>
    <div class="row" id="craiglist-listings">
      <div class="col-md-12">
        <hr class="my-2">
        <h4 class="heading">Mars Hemisphere Data</h4>
        <hr class="my-2">
          <table class="table table-striped">
            {% for item in listings.hemispheres_name %}
            <thead>
              <tr>
                <th>{{ item }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              <tr>
              {% for imag in listings.hemispheres_img %}
                <td> {{ imag }} </td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
      </div>
    </div>  
  </div>
</body>

</html>

